*{box-sizing:border-box}a{text-decoration:none}ul{list-style-type:none}@media only screen and (min-width: 320px) and (orientation: portrait){.contenedor{padding:0 16px;display:grid;grid-template-columns:repeat(4, 1fr);grid-column-gap:16px}}@media only screen and (min-width: 768px) and (orientation: portrait){.contenedor{padding:0 24px;display:grid;grid-template-columns:repeat(8, 1fr);grid-column-gap:24px}}@media only screen and (min-width: 1100px){.contenedor{padding:0 24px;display:grid;grid-template-columns:repeat(12, 1fr);grid-column-gap:24px}}body{background-color:#D0EEFF}@media only screen and (min-width: 320px){.header__banner{border-top-right-radius:150px}}@media only screen and (min-width: 1000px){.header__banner{border-top-right-radius:0px}}

}

@media only screen and (min-width: 320px) {
    .header__banner{
        border-top-right-radius: 150px;
    }
  }

  @media only screen and (min-width: 1000px) {
    .header__banner{
        border-top-right-radius: 0px;
    }
  }
